{% if post.title %}
  <li>
    {% if post.permalink %}
      <strong><a href="{{ post.permalink }}">{{ post.title }}</a></strong> <span style="float:right;">{{ post.date | date: "%B %Y" }} {% if post.end_date %}- {{ post.end_date | date: "%B %Y" }}{% endif %}</span>  
    {% else %}
      <strong><a href="{{ post.url }}">{{ post.title }}</a></strong> <span style="float:right;">{{ post.date | date: "%B %Y" }} {% if post.end_date %}- {{ post.end_date | date: "%B %Y" }}{% endif %}</span>  
    {% endif %}
    <!-- {% if post.type %}<br>{{ post.type }}{% endif %} -->
    {% if post.venue %} <br> {{ post.venue }}{% endif %}
    {% if post.location %} <br> {{ post.location }}{% endif %}
    {% if post.description %}
      <br><em>{{ post.description }}</em>
    {% endif %}
  </li>
{% endif %}